<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a022a971a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='/css/mediaQ.css' />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="contenedor-header">
            <div class="top-header">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
                <!-- <p>Lugar para poner barra de búsqueda</p> -->
                <div class="search">
                    <input id="search-bar" type="text" placeholder="Buscar productos y Marcas">
                    <button id="search-nav" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <p class="texto-cuotas">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="lista-nav">
            <div class="lista1">
                <ul>
                    <li class="navlist"><a href="#">Ofertas</a></li>
                    <li class="navlist"><a href="#">Tiendas Oficiales</a></li>
                    <li class="navlist"><a href="#">Vender</a></li>
                    <li class="navlist"><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="lista2">
                <ul>
                    <li class="navlist"><a href="/register">Creá tu cuenta
                            <!-- <i class="fas fa-id-card"></i> -->
                        </a><i class="fas fa-id-card"></i></li>
                    <li class="navlist"><a href="/login">Ingresá
                            <!-- <i class="fas fa-sign-in-alt"></i> -->
                        </a><i class="fas fa-sign-in-alt"></i></li>
                    <li class="navlist"><a href="#">Mis compras
                            <!-- <i class="fas fa-shopping-basket"></i> -->
                        </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg" alt="Banner de ofertas" class="banner">
    </section>
    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="desktop1">
                <div class="flex-tablet1">
                    <article class="cafe1">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="mac1">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </article>
                </div>
                <div class="flex-tablet2">
                    <article class="galaxy1">
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                            class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article class="tv1">
                        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung"
                            class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3>
            <div class="desktop2">
                <div class="flex-tablet3">
                    <article class="cafe2">
                        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="mac2">
                        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </article>
                </div>
                <div class="flex-tablet4">
                    <article class="galaxy2">
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                            class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
                    </article>

                    <article class="tv2">
                        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung"
                            class="product_img">
                        <div class="box">
                            <i class="fas fa-truck"></i>
                            <div class="contenedor-precio">
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <center>
        <footer>
            <div class="foot">
                <section>
                    <article>
                        <div>

                            <center><i class="fas fa-credit-card"></i></center>

                        </div>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                            ¡Y
                            siempre es
                            seguro!</p>
                    </article>
                </section>
                <section>
                    <article>
                        <div>

                            <center><i class="fas fa-gift"></i></center>

                        </div>
                        <h3>Envío gratis desde $2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </article>
                </section>
                <section>
                    <article>
                        <div>

                            <center><i class="fas fa-user-shield"></i></center>

                        </div>
                        <h3>Seguridad, de principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </article>
                </section>
            </div>
            <section>
                <article>
                    <h5 class="Derechos">Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
                </article>
            </section>

        </footer>
    </center>
</body>

</html>