
*{ 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width:100vw;
    height: 100vh;
    margin:0px;
    border: 0px;
}
header{
    background-color: #EAC926;
    padding: 20px;
    width: 100vw;
}
.logo{
    width: 200px;
}
.texto-cuotas{
    margin: 10px 0px;
}

.precio{
    font-size: 18px;
}
main section p {
    font-size: 16px;
}
main section h4{
    font-size: 16px;
}
.search{
float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#search-bar{
    margin: 0px;
}

.burger-menu{
    background-color:  #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
 }
footer{
    width: 80vw;
    background-color:#ffffff ;
    text-align: center;
    color:#666;
    height: 100vh;
    display: block;
    margin-top: 10px;
}
 footer section h3{
     font-weight: bold;
     
 }
 footer section i {
    width: 90px;
    color:#03264C;
    margin-bottom: 0px;
    font-size: 40px;
    margin-top: 20px;
  }

 footer h5{
    margin-top: 50px;
     text-align: left;
     font-size: 12px;
 }
 .lista-nav{
    margin: 0;
    padding: 0;
}

.lista-nav a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    margin: 4px;
}
main{
    text-align: center;
    background-color: lightgray;
    padding: 15px;
    width: 100vw;
}
main section article {
    width: 90%;
    background-color: #ffffff;
    text-align: center;
    margin: 10px auto;
  }
.banner{
    width: 100vw;
  display: block;
  cursor: pointer;
}
.texto-cuotas{
    text-align: center;
    font-weight: 400;
}
article div{
border-top: solid 1px #ebebeb;
padding: 15px;
background-color: #ffffff;
text-align: left;
}
.product_img {
    display: block;
    margin: auto;
    width: 60vw;
    border-radius: 8px;
  }
  main section h3 {
    font-size: 24px;
    color: #666;
    margin-left: 20px;
  }
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
   .contenedor-precio{
       border: solid 4px red;
       display: flex;
       align-items: flex-end;
   }
   .descuentos{
       color: green;
       margin-left: 4px;
       width: 70%;
   }
  .precio{
      width: 30%;
  }
  